<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   <i> Welcome to {{ title }}! </i>
  </h1>
</div>
<h2 style="color:blue">I- Verwaltung von Hausgeräte</h2>
<div class="container">
    <div class="row">
      <div class="col-xs-4">
        <h2>Mes appareils</h2> <i>Mise à jour : {{lastUpdate | async | date: ' hh:mm EEEE dd MMMM y'  }}</i>
        <ul class="list-group">
          <app-appareil *ngFor="let appareil of appareils; let i=index"
                        [appareilName]="appareil.name"
                        [appareilStatus]="appareil.status" 
                        [index]="i">
          </app-appareil>
        </ul>

        <button class="btn btn-success" [disabled]="!isAuth"
                        (click)="onAllumer()">
          Tout allumer
        </button>

        <button class="btn btn-success" [disabled]="!isAuth"
        (click)="onEteindre()">
        Tout éteindre 
        </button>

      </div>
    </div>
  </div>





<h2 style="color:blue"> II- Online Posts</h2>
<div class="container">
<div class="row">
<div class="col-xs-12">
<h2> Mes Posts </h2>
<ul class="list-group">

  <table border="0">
    <tr>
      <th>
          <app-post-list-item-component></app-post-list-item-component>

      </th>
      <th>
          Verification WWW....

      </th>
    </tr>
  </table>
 </ul>
</div>
</div>
</div>